<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card Id="{{ noticia1.id }}" photoCover="{{ noticia1.photoCover }}"
            cardTitle="{{ noticia1.title }}" cardDescription="{{ noticia1.description }}">
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card *ngFor="let noticia of noticias" cardTitle="{{ noticia.title }}"
            photoCover="{{ noticia.photoCover }}" Id="{{ noticia.id }}">
        </app-small-card>
    </div>
</div>